body {
  background-color: rgb(237, 240, 248);
  width: 100%;
  height: 100%;
  color: #000;
  margin: 0;
  word-break: break-word;
  word-wrap: break-word;
  font-size: 36px;
  font-family: "Helvetica Neue",Helvetica,"Nimbus Sans L",-apple-system,BlinkMacSystemFont,"Liberation Sans","Hiragino Sans GB","Microsoft YaHei","Microsoft JhengHei","Source Han Sans CN","Source Han Sans SC","Wenquanyi Micro Hei","WenQuanYi Zen Hei","ST Heiti",SimSun,"WenQuanYi Zen Hei Sharp",sans-serif;
}
form {
  margin-top: 0em;
}
.wrapper {
  padding: 20px 30px;
}
.header {
  background-color: rgb(59, 103, 160);
  background-repeat: repeat-x;
  padding: 15px 20px;
  color: #fff;
  margin:auto;
  height: auto;
  min-height: 33px;
  background-image: url(http://pcdn.mikecrm.com/images/formTemplate/header_bg_duRuo.png);
  background-position: center 100%;
  text-align: center;
  font-weight: 700;
}
.body {
  background-color: rgb(253, 253, 254);
  min-height: 70px;
  /* border-top: 0 none; */
  padding: 12px 37px;
}
.input-component {
  width: 100%;
  padding-top: 30px;
}
.input-title {
  color: #000;
}
.input-body {
  padding: 6px 15px;
}
.input {
  height: 49px;
  width: 100%;
  padding-left: 5px;
  border-width: 1px;
  border-style: solid;
}
.input:hover {
  border-color: #aaa;
}
.input.icon {
  background-size: 20px 20px;
  background-position: left 7px center;
  background-repeat: no-repeat;
  padding-left:33px;
  background-size: auto;
}
.input.icon-contact-person {
  background-image: url("../icons/contactPersonIcon.png");
}
.input.icon-contact-phone {
  background-image: url("../icons/contactPhoneIcon.png"); 
}
.icon-job-title {
  background-image: url("../icons/jobTitle.png"); 
}
.icon-email {
  background-image: url("../icons/email.png"); 
}
.icon-money {
  background-image: url("../icons/money.png"); 
}
.icon-supply-attachment, .icon-purchase-attachment {
  background-image: url("../icons/attachment.png"); 
  border-style: dotted !important;
  border-color: grey;
  font-size: 21px;
}
.upload {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  filter: 'alpha(opacity=0)';
}
.manage-state {
  color: #666666;
}
.input-component-inner-center {
  width: 100%;
  padding-top: 30px;
  text-align:center;
}
.input-component-submit {
  width: 100%;
  padding-top: 60px;
  text-align: center;
  padding-bottom: 20px;
}
.submit-button {
  width: auto;
  height: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: normal;
  color: #FFFFFF;
  background: #3B67A0;
  font-size: 25px;
}
.paddingTop {
  padding-top: 8px;
}
.radio {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}
.radio+label:before {
  position: absolute;
  border: 1px solid #0099d6;
  content: "";
  display: inline-block;
  box-shadow: inset 0 0 3px 0 rgba(0,0,0,.2);
  border-radius: 50%;
  z-index: 2;
  width: 18px;
  height: 18px;
  margin-top: 7px;
}
input.radio:checked+label:after {
  position: absolute;
  border: 5px solid #0099d6;
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  left: 56px;
  margin-top: 11px;
  box-sizing: border-box;
}
.radio+label span {
  padding-left: 33px;
}
.main {
  position: relative;
  width: 800px;
  z-index: 20;
  margin-left: auto;
  margin-right: auto;
}
.note {
  text-align: left;
  color: #666;
  white-space: pre-wrap;
}
span {
  word-break: initial;
  font-size: 25px;
}